body {
    padding-left: 10%;
    padding-right: 10%;

    background-color: #f3f0ee;
}

h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 2.5em;
}

hr {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#search-bar {
    display: flex;
}

#game-box-art {
    max-height: 30em;
}

#game-description {
    white-space: pre-wrap;
}